<!DOCTYPE html>
<html>
<head>
  <title>Rplugin</title>
  <%= stylesheet_link_tag    "semantic-rails-ui/application", media: "all" %>
  <%= javascript_include_tag "semantic-rails-ui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
