/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/test/coverage/
/test/reports
/doc/
/pkg/
/tmp/

test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

