<div id="navigation" class="ui menu">
  <%= ui_nav_link_to root_path do %>
    <i class="home icon"></i> Semantic Rails UI
  <% end %>
  <%= ui_nav_link_to posts_path do %>
    <i class="file text outline icon"></i> Posts
  <% end %>
</div>
